// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.columns {
  border: 1px solid black;

  article.post {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
  }

}

div#new_post {
  padding: 15px;
}
